
/* paramètres généraux de la page avec le fond */
html{
    background-image: url("./AdobeStock_281220855_Preview.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: calibri

}

/* paramètres des titres et du texte de la page */
h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 65px
}

h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 45px
}

li{
    color: #f2f2f2;
    font-style: italic;
}

h2 {
  text-align: center;
  font-weight: bolder;
}

h3 {
  text-align: center;
  font-weight: bolder;
}

p {
  text-align: center;
  font-weight: bolder;
}


/* parmètres des tableaux */
table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
    border-collapse: collapse; 
    font-family: calibri;
    text-align: center;
    }
    
th{
    width: 20px;
    padding: 5px;
    background-color: #eb344c;
    color: white;
    
}    

td {
    /*  width: 60px;*/
    padding: 10px;
    text-align: center;
}

td, tr {
  width: 70px;
  color: black;
  
  
}

/* changement de couleur 1 ligne sur 2 */
tr:nth-child(even) {
  background-color: white;
}

table tr:nth-child(odd){
  background-color: #f2f2f2;
}



/* petit zoom lorsque la souris passe sur un tableau */
table:hover {
  transform: scale(1.02);
}

/* surligner le texte */
mark {
  background-color: #CCC;
  color: black;
}

.poule{
    font-size: 35px;
    
}



